<!DOCTYPE html>
<html lang="en">
<head>

     <title>EDITAR GUIONES</title>

     {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/tmplt-style.css' %}">


     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/aos.css' %}">

     <link rel="stylesheet" href="{% static 'css/tmplt-style.css' %}">

</head>
<body  data-target="#navbarNav" data-offset="50">

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="{% url 'dashboard' %}" class="nav-link">SCRIPT</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="{% url 'ver_guiones' %}" class="nav-link">Ver guiones</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'crear_guion' %}" class="nav-link">Crear guion</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'lista_guiones' %}" class="nav-link">Editar guion</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'lista_guion_historial' %}" class="nav-link">Historial de cambios</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Cerrar sesión</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

  <body>
    <div class="container mt-5 pt-5">
      <h1>{{ guion.titulo }}</h1>
      <p><strong>Género:</strong> {{ guion.genero }}</p>
      <p>
        <strong>Pose de los Actores:</strong> {{ guion.pose_actores.gesto }}
      </p>
            <p><strong>Ubicacion de los actores:</strong> {{ guion.ubicacion_actores }}</p>
      <p>

      <p><strong>Diálogos:</strong></p>
      <p>{{ guion.dialogos }}</p>

      <h2>---EDITAR GUION---</h2>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
      </form>
    <div style="margin-bottom: 20px;"></div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>