<!DOCTYPE html>
<html lang="en">
<head>

     <title>LISTA HISTORIAL</title>

     {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/tmplt-style.css' %}">


     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/aos.css' %}">

     <link rel="stylesheet" href="{% static 'css/tmplt-style.css' %}">

</head>
<body  data-target="#navbarNav" data-offset="50">

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="{% url 'dashboard' %}" class="nav-link">SCRIPT</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="{% url 'ver_guiones' %}" class="nav-link">Ver guiones</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'crear_guion' %}" class="nav-link">Crear guion</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'lista_guiones' %}" class="nav-link">Editar guion</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'lista_guion_historial' %}" class="nav-link">Historial de cambios</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Cerrar sesión</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

    <div class="container mt-5 pt-5">
      <h1>HISTORIAL DE CAMBIOS</h1>
      <ul>
        {% for guion in guiones %}
        <li>
          <a href="{% url 'historial_guion' guion.id %}">{{ guion.titulo }}</a>
        </li>
        {% endfor %}
      </ul>
    <div style="margin-bottom: 20px;"></div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>