{% extends 'master.html' %}

{% block title %}
    Login
{% endblock %}

{% block style %}
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .container {
        width: 300px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    h2 {
        text-align: center;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type="submit"] {
        background-color: #4caf50;
        color: white;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #45a049;
    }
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Bienvenido</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>
            <center>
                {% if error_message %}
                    <p style="color: red">
                        {{ error_message }}
                    </p>
                {% endif %}
                <p>No tienes una cuenta? <a href="{% url 'register' %}">Registrar</a></p>
            </center>
            <input type="submit" value="Ingresar">
        </form>
    </div>
{% endblock %}